<% layout('layouts/boilerplate') %> 


<div class="container d-flex justify-content-center align-items-center mt-5">
    <div class="row" style="width: 100%;">

        <div class="col-md-6 offset-md-3">
            <div class="card shadow">
                <div class="card-body">
                    <img src="https://images.unsplash.com/photo-1649395147125-a06a2e193455?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=MnwxfDB8MXxyYW5kb218MHx8fHx8fHx8MTY1MTI4MjQ4NQ&ixlib=rb-1.2.1&q=80&w=1080"
                        alt="" class="card-img-top mb-3">
                    <h5 class="card-title">Register</h5>
                    <form class="validated-form card-body" action="/register" method="POST" novalidate>
                        <div class="mb-3">
                            <label class="form-label" for="username">Username: </label>
                            <input class="form-control" type="text" name="username" id="username" placeholder="Username" required autofocus>
                        </div>
                        <div class="my-3">
                            <label class="form-label" for="email">Email: </label>
                            <input class="form-control" type="email" name="email" id="email" placeholder="John.Smith@example.com" required>
                            <div class="valid-feedback">
                                Valid
                            </div>
                        </div>
                        <div class="mb-4 mt-3">
                            <label class="form-label" for="password">Password: </label>
                            <input class="form-control" type="password" name="password" id="password" required>
                        </div>
                        <div class="d-grid">
                            <button class="btn btn-primary">
                                Register
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </div>


</div>


